<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.makerknz.product.server.mapper.DeviceMapper">

    <select id="selectPageByWrapper" resultType="cn.makerknz.product.server.domain.vo.DeviceVO">
        SELECT d.*,p.product_name,p.product_en_name,p.product_desc FROM `device` d LEFT JOIN `product` p ON p.id=d.product_id ${ew.customSqlSegment}
    </select>

</mapper>
